## -*- coding: utf-8 -*-
<%namespace name="helper" file="index_helper.tmpl"/>
<%namespace name="math" file="math_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="feeds_translations" file="feeds_translations_helper.tmpl" import="*"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if posts and (permalink == '/' or permalink == '/' + index_file):
        <link rel="prefetch" href="${posts[0].permalink()}" type="text/html">
    % endif
    ${math.math_styles_ifposts(posts)}
</%block>

<%block name="content">
<%block name="content_header">
    ${feeds_translations.translation_link()}
</%block>
% if 'main_index' in pagekind:
    ${front_index_header}
% endif
% if page_links:
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
% endif

<div class="col-md-3">
    <div class="card mb-3" style="margin-bottom: 1rem;">
      <h3 class="card-header" style="margin-top: 0;text-align:  center;">Random Dots</h3>
      <div class="card-body align-items-center">
        <h6 class="card-subtitle text-muted"><a style="color: #9b9596;">I have committed sins, I want to clean myself & work towards becoming a स्थितप्रज्ञस्य"</a></h6>
    </div>
    <img style="max-width: 100%; display: block;" src="/images/shiva.jpg" alt="Card image">
    <div class="card-footer text-muted">
        Last Update: ${posts[0].formatted_date(date_format)|h}
    </div>
</div>

<div class="card border-primary mb-3">
  <div class="card-header" style="font-weight: 600;"><a>Quotes</a></div>
  <div class="card-body">
    <p class="card-text" style="font-style:  italic;"><h5>The first principle is you must not fool yourself - and your are the most easiest person to fool by yourself<span class="badge badge-secondary badge-pill">Feynman</span></h5></p>
    <p class="card-text" style="font-style:  italic;"><h5>I've set myself to become the King of Pirates. And if i die trying, at least I tried <span class="badge badge-secondary badge-pill">Luffy</span></h5></p>
    <p class="card-text" style="font-style:  italic;"><h5>No fear. No distractions. The ability to let that which does not matter truly slide <span class="badge badge-secondary badge-pill">Tyler Durden</span></h5></p>
  </div>
</div>

<!-- <ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center"><a>
    Learning Theory</a>
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>Mathematics</a>
    <span class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>Programming</a>
    <span class="badge badge-primary badge-pill">1</span>
  </li>\
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <a>Running@2.5km</a>
    <span class="badge badge-primary badge-pill">10.01min</span>
  </li>
</ul>
 -->
<div class="card border-primary mb-3">
  <div class="card-header" style="font-weight: 600;"><a>All is one, One is All</a></div>
  <div class="card-body">
  	<p class="card-text" style="font-weight: 400;"><a style="font-size: 0.9em;">In case if you want to know more about me...</a></p>
    <p class="card-text" style="font-style:  italic;"><h5>I always struggle in aligning thoughts to get the better complete view which will answer everything. So I was trying to figure out the kind of life I want to lead and principles which I should stick to, Surprisingly everything was converging to single point and I was only able to align to one kind of lifestyle. I could clearly see everytime I admire some character I try to see my reflection in them and which makes me even more clear about my life. Such great convergence I could see in the following characters which I feel all have the same core values.</h5></p>
    
    <p class="card-text" style="font-weight: 600;"><a>Shiva, Hanuman, Karna, Luffy</a></p>
   <!--  <p class="card-text" style="font-style:  italic;"><a> Hanuman </a></p>
    <p class="card-text" style="font-style:  italic;"><a> Karna </a></p>
    <p class="card-text" style="font-style:  italic;"><a> Monkey D Luffy </a></p> -->
    <p class="card-text"><h4>
    	<span class="badge badge-secondary badge-pill">Self Control</span>
    	<span class="badge badge-secondary badge-pill">Kindness</span>
    	<span class="badge badge-secondary badge-pill">Dedication towards their duties(Dharma)</span>
    	<span class="badge badge-secondary badge-pill">Selflessness</span>
    	<span class="badge badge-secondary badge-pill">Sticking to Promise</span>
    	<span class="badge badge-secondary badge-pill">Skill</span>
    	<span class="badge badge-secondary badge-pill">Purity</span>
    	<span class="badge badge-secondary badge-pill"></span></h4></p>
    <p class="card-text" style="font-style:  italic;"><h5>These core values are all the same for them. I want to lead a life which will make me stick to these core values.</h5></p>
  </div>
</div>

<!-- <div class="card border-success mb-3">
  <div class="card-header" style="font-weight: 600;"><a>Monkey D Luffy</a></div>
  <div class="card-body">
    
  </div>
</div>

<div class="card border-secondary mb-3">
  <div class="card-header" style="font-weight: 600;"><a>Tylor Durden</a></div>
  <div class="card-body">
    
  </div>
</div> -->

<div class="card border-primary">
  <div class="card-header"><h3>Inspiring Blogs</h3></div>
  <div class="text-primary">
    <a href="https://danieltakeshi.github.io/" class="list-group-item list-group-item-action"> Daniel Seita's Blog
     </a>
      <a href="https://terrytao.wordpress.com/" class="list-group-item list-group-item-action">
        Terry Tao's Blog
      </a>
      <a href="https://gowers.wordpress.com/2007/09/" class="list-group-item list-group-item-action">Gower's Blog
      </a>
      <a href="https://www.scottaaronson.com/blog/?m=200510" class="list-group-item list-group-item-action">Scott Aronson's Blog
      </a>
      <a href="http://www.math.ucr.edu/home/baez/README.html" class="list-group-item list-group-item-action">John Bae's Stuff
      </a>
      <a href="https://jeremykun.com/primers/" class="list-group-item list-group-item-action">Jeremy Kun's Blog
      </a>
      <a href="http://nuit-blanche.blogspot.in/2016/10/input-convex-neural-networks.html" class="list-group-item list-group-item-action">Nuite Blanche's Blog
      </a>
      <a href="https://www.revolvy.com/main/index.php?s=List%20of%20theorems&uid=1575" class="list-group-item list-group-item-action">Mathematical Theorem's Ocean
      </a>
    </div>
    </div>   
</div>

<div class="col-md-9">
<div class="postindex">
% for post in posts:
    <article class="h-entry post-${post.meta('type')}">
    <header>
        <h1 class="p-name entry-title"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h1>
        <div class="metadata">
            <!-- <p class="byline author vcard"><span class="byline-name fn" itemprop="author">
            % if author_pages_generated:
                <a href="${_link('author', post.author())}">${post.author()|h}</a>
            % else:
                ${post.author()|h}
            % endif
            </span></p> -->
            <p class="dateline"><a href="${post.permalink()}" rel="bookmark"><time class="published dt-published" datetime="${post.formatted_date('webiso')}" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time></a></p>
            % if not post.meta('nocomments') and site_has_comments:
                <p class="commentline">${comments.comment_link(post.permalink(), post._base_path)}
            % endif
        </div>
    </header>
    %if index_teasers:
    <div class="p-summary entry-summary">
    ${post.text(teaser_only=True)}
    %else:
    <div class="e-content entry-content">
    ${post.text(teaser_only=False)}
    %endif
    </div>
    </article>
% endfor
</div>
</div>
${helper.html_pager()}
${comments.comment_link_script()}
${math.math_scripts_ifposts(posts)}
</%block>
